body{
color: lightgreen;
background-color: royalblue;
}

.heading{
 width: 80%;
 font-size: 23px;   
}
.name_of_objects{
    color: yellow;
}
#camera,#result{
    border: 2px dashed black;
    width: 400px;
    height: 400px;
}
span{
    color: yellow;
}